[submodule ".oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:alfro-c12n/oh-my-zsh.git
[submodule "emacs/.spacemacs.d"]
	path = spacemacs/.spacemacs.d
	url = git@github.com:alfro-c12n/spacemacs.git
[submodule "emacs-anywhere"]
	path = emacs-anywhere
	url = git@github.com:alfro-c12n/emacs-anywhere.git
[submodule "autojump"]
	path = autojump
	url = git://github.com/joelthelion/autojump.git
[submodule "Qogir-theme"]
	path = Qogir-theme
	url = git@github.com:vinceliuice/Qogir-theme.git
[submodule "arc-icon-theme"]
	path = arc-icon-theme
	url = git@github.com:horst3180/arc-icon-theme.git
