[submodule ".oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:alfro-c12n/oh-my-zsh.git
[submodule "emacs/.spacemacs.d"]
	path = emacs/.spacemacs.d
	url = git@github.com:alfro-c12n/spacemacs.git
